/* Header styling */
html {
	font-family: Georgia, serif;
}
header {
	width: 100%;
	height: 60px;
	background-color: #003300;
	text-align: left;
	font-family: Georgia, serif;
	color: #000000;
	font-size: 75px;
	font-weight: 500;
}

/* General body styling */
body {
	padding-bottom: 0;
	margin: 0;
	height: 100%;
	background-color: #FFF9E9;
}

/* Main content general styling */
.indexBlurb {
	float: center;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	align: center;
}

#welcomeMessage {
	text-align: center;
	font-weight: 900;
}

article.indexBlurb {
	margin: auto;
	padding: 10px;
	width: 60%;
}

h2.indexBlurb {
	font-size: 24px;
	font-family: Georgia, serif;
	font-weight: bold;
}

p.indexBlurb {
	font-size: 16px;
	font-family: Georgia, serif;
}

/* General footer styling */
footer {
	background-color: #003300;
	font-family: Georgia, serif;
	font-weight: bold;
	text-align: center;
	padding: 10px;
}

.column {
	flex: 50%;
	padding: 5px;
}

.row {
	display: flex;
}

/* Please stay still */
#stillFooter {
	position: absolute;
	font-family: Georgia, serif;
	color: #FFF9E9;
	height: 50px;
	width: 100%;
	bottom: 0;
}

/* Needed to wrap the content to better control header and footer */
#pageContainer {
	position: relative;
	min-height: 100%;
	min-width: 100%;
}

/* Needed to keep footer still */
#contentWrap {
	padding-bottom: 60px;
}

/* General paragraphp font fixing */
p {
	font-family: Georgia, serif;
}

/* Footer copyright */
#copyright {
	padding 10px;
}

/* Main navigation */
#mNav {
	float: bottom;
	font-size: 20px;
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
}

/* Main content area */
#main {
	float: center;
	white-space: nowrap;
	float-bottom: bottom;
	font-family: Georgia, serif;
	font-size: 35px;
	text-align: center;
	color: #FFFFF0;
}

/* Top left logo */
#logo {
	float: left;
	height: 75px;
	width: 75px;
	padding-left: 15px;
	padding-right: 15px;
}